.background {
  background: center no-repeat url("https://raw.githubusercontent.com/KenSun2018/NovelCovid19Report/master/cast_css/background.png");
}

.logo {
  background-image: url("https://raw.githubusercontent.com/KenSun2018/NovelCovid19Report/master/cast_css/logo.png");
}

.progressBar {
  background-color: rgb(238, 255, 65);
}

.splash {
  background-image: url("https://raw.githubusercontent.com/KenSun2018/NovelCovid19Report/master/cast_css/slash.png");
}

.watermark {
  background-image: url("https://raw.githubusercontent.com/KenSun2018/NovelCovid19Report/master/cast_css/watermark.png");
  background-size: 57px 57px;
}

cast-media-player {
	--background-image: url("https://raw.githubusercontent.com/KenSun2018/NovelCovid19Report/master/cast_css/background.png");
	--splash-size: 0px;
	--watermark-image: url("https://raw.githubusercontent.com/KenSun2018/NovelCovid19Report/master/cast_css/logo.png");
	--watermark-size: 128px
}